{% extends 'base_navbar.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-5">
            <div class="main-form">
                <h2 class="text-center">Cambiar contraseña</h2>
                <div class="row justify-content-md-center">
                    <div class="col-8">
                        <form style="margin-left: 20px; margin-right: 20px" method="post">

                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                            {% bootstrap_field form.password_old %}
                            {% bootstrap_field form.password_new %}
                            {% bootstrap_field form.password_new2 %}
                            <button type="submit" class="enter btn btn-outline-primary btn-block">Cambiar</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
