{% extends "base_navbar.html" %}
{% block activities %}
<div class="row row-cols-1 row-cols-md-3 g-4">
   {#  for activity in activities  #}
    <div class="col">
        <div class="card-zoomed card">
          <img src="https://i.imgur.com/RtMB6K8.jpeg" class="card-img-top" alt="Tenis">
          <div class="card-body">
            <h5 class="card-title">Torneo de tenis por parejas</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, tempora!</p>
              <div class="justify-content-end"><button type="button" class="button btn btn-outline-primary btn-sm">Editar</button>
              <button type="button" class="button btn btn-outline-primary btn-sm pull-right">Más info</button></div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card-zoomed card">
          <img src="https://i.imgur.com/RtMB6K8.jpeg" class="card-img-top" alt="Tenis">
          <div class="card-body">
            <h5 class="card-title">Torneo de tenis por parejas</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, tempora!</p>
              <div class="justify-content-end"><button type="button" class="card-button btn btn-outline-primary btn-sm">Editar</button>
              <button type="button" class="card-button btn btn-outline-primary btn-sm pull-right">Más info</button></div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card-zoomed card">
          <img src="https://i.imgur.com/RtMB6K8.jpeg" class="card-img-top" alt="Tenis">
          <div class="card-body">
            <h5 class="card-title">Torneo de tenis por parejas</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, tempora!</p>
              <div class="justify-content-end"><button type="button" class="card-button btn btn-outline-primary btn-sm">Editar</button>
              <button type="button" class="card-button btn btn-outline-primary btn-sm pull-right">Más info</button></div>
          </div>
        </div>
    </div>
</div>
{% endblock %}