{% extends "base_navbar.html" %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-10">
            <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'include/messages.html' %}
            {% include 'include/bootstrap_form.html' with form=form %}
            {% if form.is_read_only %}
                {% if reports %}
                    <strong>Reports:</strong>
                    <ul>
                    {% for rep in reports %}
                        <li>{{ rep }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                    <div class="row justify-content-center">
                        <div class="d-grid gap-2 col-3 mx-auto">
                            <a href="{% url "activity_list_view" %}" class="btn btn-block btn-secondary">< Volver</a>
                        </div>
                        {% if form.instance.status != form.instance.STATUS_CANCELLED %}
                            <div class="d-grid gap-2 col-3 mx-auto">
                                <a href="{% url "checkin-list" form.instance.pk %}" class="btn btn-block btn-primary">Checkin</a>
                            </div>
                            {% if form.instance.status == form.instance.STATUS_PENDING %}
                                <div class="d-grid gap-2 col-3 mx-auto">
                                    <a href="{% url "edit_activity" form.instance.pk %}" class="btn btn-block btn-primary">Editar Actividad</a>
                                </div>
                                <div class="d-grid gap-2 col-3 mx-auto">
                                    <a href="{% url "cancel_activity" form.instance.pk %}" onclick="return confirm('Confirmas cancelar la actividad?')" class="btn btn-block btn-danger">Cancelar Actividad</a>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
            {% else %}
                <div class="row justify-content-center">
                        <div class="d-grid gap-2 col-3 mx-auto">
                            <a href="{% url "view_activity" form.instance.pk %}" class="btn btn-block btn-secondary">< Volver</a>
                        </div>
                        <div class="d-grid gap-2 col-3 mx-auto">
                            <button type="submit" class="btn btn-block btn-success">Guardar Actividad!</button>
                        </div>

                    </div>

            {% endif %}
            </form>
        </div>
    </div>
    <script>
        function deleteUser(url) {
          if (confirm("Confirma para borrar el usuario")) {
            location.href = url;
          }
        }
    </script>
{% endblock %}